html, body {
    margin: 0 0;
    padding: 0 0;
}

body {
    background-color: black;
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

#name {
    font-size: 2vw;
    font-family: 'Space Mono', monospace;
    border: none;
    background-color: transparent;
    color: white;
    text-align: center;
}

#name:focus, #button:focus {
    outline: none;
}

#text {
    font-size: 6vw;
    margin-bottom: 2vw;
    font-family: 'Space Mono', monospace;
    color: white;
}

#button {
    margin: 0 0;
    padding: 0 0;
    background: transparent;
    border: none;
    font-size: 2vw;
    font-family: 'Space Mono', monospace;
    color: white;
    cursor: pointer;
}

#button:hover {
    text-decoration: underline;
}

.exit {
    
}

.enter {
    
}